[submodule "timeseries-api1"]
	path = timeseries-api1
	url = https://github.com/Felpsnm/timeseries-api
[submodule "decode"]
	path = decode
	url = https://github.com/OpenDataTelemetry/decode
[submodule "gateway-mqtt-lns-imt"]
	path = gateway-mqtt-lns-imt
	url = https://github.com/OpenDataTelemetry/gateway-mqtt-lns-imt
